[submodule "lib-source/sqlite-lembed"]
	path = lib-source/sqlite-lembed
	url = https://github.com/landrix/sqlite-lembed.git
[submodule "lib-source/sqlite-vec"]
	path = lib-source/sqlite-vec
	url = https://github.com/landrix/sqlite-vec.git
[submodule "lib-source/mORMot2"]
	path = lib-source/mORMot2
	url = https://github.com/synopse/mORMot2.git
